nav{
  font-family: 'Ubuntu',monospace;
  @include salmon
}

.navbar-brand{
  padding: .4em;
  font-size: 3em;
  font-weight: bolder;
  font-family: 'roboto', sans-serif;
}

.nav-link{
  font-size: 1.1em;
}
